name: Docker Hub build
on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - master
      - "release/*"
    tags:
      - "carma-system-*"
jobs:
  determine_docker_org_and_tag:
    runs-on: ubuntu-latest
    outputs:
      docker_organization: ${{ steps.docker-org-and-tag.outputs.docker_organization }}
      docker_image_tag: develop-humble
    steps:
      - id: docker-org-and-tag
        uses: usdot-fhwa-stol/actions/docker-org-and-tag@main
  docker:
    needs: determine_docker_org_and_tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get Docker Image Metadata
        shell: bash
        id: docker-image-metadata
        run: |
          echo system_version=$("./docker/get-system-version.sh") >> $GITHUB_OUTPUT
          echo build_date=$("date -u +â€%Y-%m-%dT%H:%M:%SZ") >> $GITHUB_OUTPUT
          echo vcs_ref=$("git rev-parse --short HEAD")
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push v2x-ros-conversion Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: usdotfhwastoldev/v2x-ros-conversion:${{ github.ref_name }}
          build-args: |
            BUILD_DATE=${{ steps.docker-image-metadata.outcome.build_date }}
            VCS_REF=${{ steps.docker-image-metadata.outcome.vcs_ref }}
            VERSION=${{ steps.docker-image-metadata.outcome.version }} 
